@font-face {
        font-family: 'Jetbrains';
        src: url('Jetbrains.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      .page-specific-font {
  font-family: 'Jetbrains', sans-serif;
}